#page-main-header.page-header.theme-dark.mb-5

    .container

        .row.align-items-center

            .col-12.col-lg-6

                h3#curso-titulo-componente.curso-subtitulo Diseño y patronaje de complementos (marroquinería)
                h1#curso-titulo-tema.curso-titulo Confección de artículos de marroquinería


                .brand-line-primary

                .keywords
                    span.badge.badge-pill.badge-light.mr-2 #Ensamblar
                    span.badge.badge-pill.badge-light.mr-2 #tapacosturas
                    span.badge.badge-pill.badge-light.mr-2 #costura

                .barra-dots.mt-5
                    img.img-fluid(src='../assets/images/header/icon_dots.svg', alt='alt')



            .col-12.col-lg-6
                .d-none.d-lg-block
                    img(src="assets/images/header/header_media.svg")
