.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Diseño y patronaje de complementos (marroquinería)
            h1.curso-titulo Confección de artículos de marroquinería
            .brand-line-primary
            
            p.curso-descripcion Comprender conceptos básicos sobre el desarrollo de los moldes para la realización de diferentes tipologías de artículos.

            

            .keywords
                span.badge.badge-pill.badge-light.mr-2 #Ensamblar
                span.badge.badge-pill.badge-light.mr-2 #tapacosturas
                span.badge.badge-pill.badge-light.mr-2 #costura

            br
            
            a.curso-btn-iniciar.btn.btn-danger(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")