h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('0', 'Introducción', 'main.html#pages/1-tema.html/')
                    +navTemaItem('1', 'Proceso productivo artículos de marroquinería', 'main.html#pages/2-tema.html/')
                    +navTemaItem('2', 'Terminación y empaque', 'main.html#pages/3-tema.html/')
                    +navTemaItem('3', 'Principios básicos de higiene y seguridad industrial', 'main.html#pages/4-tema.html/')
                    +navTemaItem('4', 'Información gráfica y muestra física', 'main.html#pages/4-tema.html/')
