h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('0', 'Introducción', 'main.html#pages/1-tema.html/')
                    +navTemaItem('1', 'Proceso productivo artículos de marroquinería', 'main.html#page/proceso-productivo/')
                    +navTemaItem('2', 'Terminación y empaque', 'main.html#page/terminacion-y-empaque/')
                    +navTemaItem('3', 'Principios básicos de higiene y seguridad industrial', 'main.html#page/principios-higiene-y-seguridad-industrial/')
                    +navTemaItem('4', 'Información gráfica y muestra física', 'main.html#page/informacion-Grafica-y-muestra-fisica/')
