include ../mixins/functions

+pageHeader('Confección de artículos de marroquinería', 'assets/images/header/header_media.svg')

.container
    .header-ecored
        h1 Introducción

    .row.my-5
        .col
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/HBgyl2vrLxw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .card-body.mt-0
                    p Una de las etapas para la manufactura de los productos, es el proceso de confección, en el cual se obtiene la muestra física del artículo. En su ejecución, se debe tener especial cuidado en cada una de las operaciones que se realizan para obtener un producto con altos estándares de calidad y que sea competitivo dentro del mercado.
                    br
                    p A continuación, se hace énfasis en el proceso que se debe llevar a cabo para la elaboración del producto, el cual sirve como guía para ser desarrollada de forma eficiente y llevar a la práctica lo estudiado en los materiales de formación anteriores.  

