include ../mixins/functions

+pageHeader('Confección de artículos de marroquinería', 'assets/images/header/header_media.svg')

.container
    .header-ecored
        h1 1. Proceso productivo artículos de marroquinería
        
        br
    .header
        |En marroquinería, así como en los diferentes sectores se deben tener en cuenta diferentes fases que constituyen de manera secuencial el desarrollo de un producto. <b>En este material de formación se hace énfasis en las últimas tres fases que componen el  proceso productivo.

        br
    

.container
    .card-m.align-item-center
        img(src="assets/images/pages/ilustraciones/MF4-CON-INF-01.svg").img-fluid
        

    .card.card__border-bottom.my-5
        .card-body
            p En el proceso productivo de artículos de marroquinería, es necesario familiarizarse con los términos de armado y costura, que son actividades en las cuales se monta una pieza sobre otra con la aplicación de adhesivos; para, posteriormente, unir las diferentes piezas que componen el producto y que permiten adornar o dar resistencia al mismo, mediante costuras que se realizan con puntadas (manuales o mecánicas).
            br
            p Para iniciar la confección de los bolsos es importante armar primero los bolsillos y colocar chapetas, teniendo en cuenta el diseño del bolso elegido. 


    #bolsillos
    .header-ecored
        h1   1.1 Confección de bolsillos
        br
        p La confección de bolsillos es unos de los primeros pasos que se realizan en la manufactura de los bolsos. A continuación, se muestra su proceso de armado según diseño.

    .card.card__border-bottom.my5
        .card-body
            p 
            b Nota: 
            | para comprender la temática, es necesario tener claro cómo se manejará el material  por colores y texturas. 
            b Ver figura 

    
    .card-m.align-item-center
        img(src="assets/images/pages/ilustraciones/MF4-AUD-IMA-01.svg").img-fluid

.container
    #Bolsillo_interno_con_cierre
        .header.my-6
            h1(style="color:#977C72;") Bolsillo interno con cierre
            p Es aquel que se ubica de manera interna en el bolso y se le pone la cremallera para permitir que los elementos allí depositados estén más seguros. 
            h2 A continuación, se describen los pasos para su elaboración: 

        .card
            .card-body

                nav.nav-tab-ecored.my-5
                    #nav-tab.nav.nav-tabs(role='tablist')
                        a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                            strong Paso 1 
                        a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                            strong Paso 2
                        a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                            strong Paso 3
                        a#nav-04-tab.nav-item.nav-link(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false') 
                            strong Paso 4    
                        
                    #nav-tabContent.tab-content
                        #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')

                            p Para la realización de este tipo de bolsillo es importante previamente haber preparado el forro con la caja bolsillo (cartón u salpa). Para ponerla se ubican centros en el molde del forro y se pega la caja sobre éste para hacerle una incisión y doblar parte del forro para cubrirla. Ver figura.

                            img(src="assets/images/pages/pasos/bolsillo_interno_cierre/interno_paso1.png").img-fluid.mx-auto.mt-5


                        #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')

                            p Posteriormente, se pega el cierre por el revés del forro y centrado sobre la caja. A continuación, se pone el forro del bolsillo interno sobre el cierre con dobles de 8 mm, coincidiendo con la parte inferior de éste para pasar costura  sin rematar. Ver figura.

                            img(src="assets/images/pages/pasos/bolsillo_interno_cierre/interno_paso2.png").img-fluid.mx-auto.mt-5

                        #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')

                            p Consecutivamente, el extremo inferior del forro de bolsillo interno se lleva hacia la parte superior del cierre y se pasa costura desde de un extremo de la costura inferior hasta rodear la caja (sin rematar ni al inicio ni al final); para al terminar el bolsillo, retirarlo de la máquina y por el revés, se sacan las hebras y se anuda. Posteriormente, para terminar el bolsillo se unen  sus lados con costura, rematando al inicio y al final. Ver figura.

                            img(src="assets/images/pages/pasos/bolsillo_interno_cierre/interno_paso3.png").img-fluid.mx-auto.mt-5
            
                        #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')

                            p Luego, se voltea el forro del bolso y  el bolsillo queda oculto sobre su revés. Por el derecho del forro del bolso, se ve solo el cierre del bolsillo. Ver figura.

                            img(src="assets/images/pages/pasos/bolsillo_interno_cierre/interno_paso4.png").img-fluid.mx-auto.mt-5

.container
    #Bolsillo_porta_celular
        .header.my-6
            h1(style="color:#977C72;")  Bolsillo porta celular
            p Este tipo de bolsillo tiene las dimensiones que permiten guardar el celular de manera interna en el bolso. Para su construcción se siguen los pasos a indicados continuación:  
    

        .card
            .card-body

                nav.nav-tab-ecored.my-5
                    #nav-tab.nav.nav-tabs(role='tablist')
                        a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                            strong Paso 1
                        a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                            strong Paso 2

                        
                    #nav-tabContent.tab-content
                        #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')

                            p Para la realización de este tipo de bolsillo, inicialmente se doblan la parte superior e inferior del bolsillo a 8 mm; luego, se marcan centros al forro del bolso por el ancho de éste y se ubica centrado el bolsillo. Con los puntos marcados en el molde del bolsillo, por el cuarto punto superior, se realiza una costura vertical hacia el cuarto punto inferior.  Ver figura .

                            img(src="assets/images/pages/pasos/bolsillo_porta_celular/porta_celular_paso1.png").img-fluid.mx-auto.mt-5

                            p Pasa costuras por el lateral derecho, luego por la parte inferior teniendo en cuenta realizar el dobles en cada marcación de puntos para confeccionar las pinzas del porta celular. Por último, continúa la costura por el lateral izquierdo. Recuerda rematar al iniciar y al terminar cada costura.


                        #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')

                            p A continuación, realiza costura al lateral derecho del bolsillo y posteriormente, a la parte inferior, teniendo en cuenta previamente que para formar las pinzas debe realizar el doblez en cada punto marcado. Para finalizar el bolsillo, se realiza la costura del lateral izquierdo teniendo en cuenta que debe rematar al inicio y al final. Ver figura . 

                            img(src="assets/images/pages/pasos/bolsillo_porta_celular/porta_celular_paso2.png").img-fluid.mx-auto.mt-5

.container
    #Bolsillo_con_pinza
        .header.my-6
            h1(style="color:#977C72;")  Bolsillo porta celular
            p Para la realización de este tipo de bolsillo, inicialmente se unen las pinzas del bolsillo y posteriormente, dobla el perímetro de bolsillo para unirlo al forro del cuerpo del bolso. Ver figura 
    

        .card
            .card-body

                nav.nav-tab-ecored.my-5
                    #nav-tab.nav.nav-tabs(role='tablist')
                        a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                            strong Paso 1
                        a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                            strong Paso 2

                        
                    #nav-tabContent.tab-content
                        #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')

                            p Para la realización de este tipo de bolsillo, inicialmente se unen las pinzas del bolsillo y posteriormente, dobla el perímetro de bolsillo para unirlo al forro del cuerpo del bolso. Ver figura.

                            img(src="assets/images/pages/pasos/bolsillo_con_pinzas/bolsillo_pinza_paso1.png").img-fluid.mx-auto.mt-5
                            
                        #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                            h2 Unir chapetas al bolso.
                            p Las chapetas son aquellas piezas que se unen al bolso para poder agarrarlo. En el ejemplo de la figura 10, se ponen las chapetas al cuerpo del bolso. Sin embargo, estas también se pueden poner a los extremos del artículo. 
                            p Para ponerlas con ayuda del molde patrón,  se marcan puntos de armado para pegarlas junto con el herraje al cuerpo del bolso, para posteriormente pespuntar. 

                            img(src="assets/images/pages/pasos/bolsillo_con_pinzas/bolsillo_pinza_paso2.png").img-fluid.mx-auto.mt-5

                            p Nota: Teniendo preparado el bolsillo y después de  haber colocado las chapetas,  se puede seguir con la confección del bolso. (Esto depende del diseño del artículo).