include ../mixins/functions

+pageHeader('Confección de artículos de marroquinería', 'assets/images/header/header_media.svg')

.container
    .header-ecored
        h1 1. Proceso productivo artículos de marroquinería
        
        br
    .header
        |En marroquinería, así como en los diferentes sectores se deben tener en cuenta diferentes fases que constituyen de manera secuencial el desarrollo de un producto. <b>En este material de formación se hace énfasis en las últimas tres fases que componen el  proceso productivo.

        br
    

.container
    .card-m.align-item-center
        img(src="assets/images/pages/ilustraciones/MF4-CON-INF-01.svg").img-fluid
        

    .card.card__border-bottom.my-5
        .card-body
            p En el proceso productivo de artículos de marroquinería, es necesario familiarizarse con los términos de armado y costura, que son actividades en las cuales se monta una pieza sobre otra con la aplicación de adhesivos; para, posteriormente, unir las diferentes piezas que componen el producto y que permiten adornar o dar resistencia al mismo, mediante costuras que se realizan con puntadas (manuales o mecánicas).
            br
            p Para iniciar la confección de los bolsos es importante armar primero los bolsillos y colocar chapetas, teniendo en cuenta el diseño del bolso elegido. 


#bolsillos
    .header-ecored
        h1   1.1 Confección de bolsillos      