include ../mixins/functions

+pageHeader('Confección de artículos de marroquinería', 'assets/images/header/header_media.svg')

.container
    .header-ecored
        h1 2. Terminación y empaque
        br
        |Es la última fase del proceso, donde se realiza la limpieza y abrillantado del producto, para empacar posteriormente, ya sea en bolsas o cajas de cartón.
        br
.container        
    .header
        .card-body-m(style="background-color:#F3F7FA")
            img(src="assets/images/pages/ilustraciones/MF4-AUD-IMA-06.svg").img-fluid.my-5

.py-5(style="background-color:#E6E5E7")
    h1.text-center-m.mb-0 Entre las operaciones básicas que se precisan en la terminación del producto están: 

.container
    .row.align-items-center.justify-content-center.mt-5

        .col-12.col-md-3 
            .card-body-m(style="background-color:#F3F7FA").bg-brand-color-light
                .card-body.text-center
                    img(src="assets/images/pages/ilustraciones/MF4-AUD-IMA-07.svg") 
                    p(style="color:#745F57").mt-2 LIMPIEZA 
        .col-12.col-md-3                              
            .card-body-m(style="background-color:#F3F7FA").bg-brand-color-light
                .card-body.text-center
                    img(src="assets/images/pages/ilustraciones/MF4-AUD-IMA-08.svg")
                    p(style="color:#745F57").mt-2 ACONDICIONAMIENTO
        .col-12.col-md-3                     
            .card-body-m(style="background-color:#F3F7FA").bg-brand-color-light
                .card-body.text-center                      
                    img(src="assets/images/pages/ilustraciones/MF4-AUD-IMA-09.svg")
                    p(style="color:#745F57").mt-2 REPARACIÓN
        .col-12.col-md-3                     
            .card-body-m(style="background-color:#F3F7FA").bg-brand-color-light
                .card-body.text-center                    
                    img(src="assets/images/pages/ilustraciones/MF4-AUD-IMA-10.svg")
                    p(style="color:#745F57").mt-2 BRILLO FINAL     