include ../mixins/functions

+pageHeader('Confección de artículos de marroquinería', 'assets/images/header/header_media.svg')

.container
    .header-ecored
        h1 2. Terminación y empaque
        br
        |Es la última fase del proceso, donde se realiza la limpieza y abrillantado del producto, para empacar posteriormente, ya sea en bolsas o cajas de cartón.
        br
.container        
    .header
        .card
            img(src="assets/images/pages/ilustraciones/MF4-AUD-IMA-06.svg").img-fluid.my-5

.py-4(style="background-color:#E6E5E7")
    h1.text-center.mb-0 Entre las operaciones básicas que se precisan en la terminación del producto están: 

.container
    #Herramientas
    .header-ecored
        h1 2.1 Herramientas
        br
        |Las herramientas se utilizan en la confección de los modelos, permitiendo trabajar los materiales utilizados. Algunas de las herramientas utilizadas en la elaboración de moldes, también son utilizadas en la confección de modelos como es el caso de la cuchilla, descrita en el numeral anterior. 
        br
    .header
        .card-deck.card-border-bottom
            .card
                img.card-img-top(src='assets/images/pages/materiales/lezna.jpg', alt='...')
                .card-body
                    h3.card-title Lezna (de 4 filos)
                    p.card-text Punzón de hierro o acero con punta aguda, conformada por un mango de madera. Se utiliza de forma manual para perforar el cuero, por donde se pasan los hilos del pespunte.
                 
            .card
                img.card-img-top(src='assets/images/pages/materiales/lezna-1.jpg', alt='...')
                .card-body
                    h3.card-title Estaquillo
                    p.card-text Herramienta de punta redonda o roma, que se utiliza para marcar  puntos de referencia y líneas guía en la moldería. También se usa para asentar el pegado de piezas curvas.
            .card
                img.card-img-top(src='assets/images/pages/materiales/agujas.jpg', alt='...')
                .card-body
                    h3.card-title Agujas 
                    p.card-text Utilizadas para coser el cuero o textiles. Se encuentran en el comercio para costuras manuales y para coser a máquina.
                        br
                        |Las agujas para costuras manuales son agujas guarnicioneras y las agujas para máquina de coser son aquellas que no deben faltar al momento de usar cualquier máquina, pues la costura depende de estas. Así mismo, cada una de ellas necesita una aguja especial y se deben tener en cuenta los tamaños según la máquina de coser.

                        

    .header
        .card-deck.card-border-bottom
            .card
                img.card-img-top(src='assets/images/pages/materiales/destornilladores.jpg', alt='...')
                .card-body
                    h3.card-title Destornillador
                    p.card-text Utilizados para realizar el cambio de agujas y para efectuar ajustes ocasionales a las máquinas. Se necesitan de diferentes puntas y tamaños.
                    
            .card
                img.card-img-top(src='assets/images/pages/materiales/caja_bobina.jpg', alt='...')
                .card-body
                    h3.card-title Caja Bobina
                    p.card-text Herramienta usada en la parte inferior de la máquina de coser, que recibe y hace que el carretel con hilo entrelace la puntada.
            .card
                img.card-img-top(src='assets/images/pages/materiales/martillo.jpg', alt='...')
                .card-body
                    h3.card-title Martillo
                    p.card-text Herramienta utilizada para afirmar el pegado y aplanado de piezas. Para ello, se deben realizar golpes suaves y constantes sobre las piezas.  También utilizada para golpear los sacabocados o fistos, colocación de remaches y broches. Se encuentran de cabeza metálica o de fibra.
                        

    .header
        .card-deck.card-border-bottom
            .card
                img.card-img-top(src='assets/images/pages/materiales/mordaza.jpg', alt='...')
                .card-body
                    h3.card-title Mordaza
                    p.card-text Elemento de madera en forma de pinza, cuyos brazos sujetan el cuero para perforarlo o coserlo.
                    
            .card
                img.card-img-top(src='assets/images/pages/materiales/compas_puntas.jpg', alt='...')
                .card-body
                    h3.card-title Compás de puntas
                    p.card-text Sirve para realizar trazos exactos cuando hay curvas. Es útil para trasladar medidas o puntos y para marcar las ventajas de costuras.
            .card
                img.card-img-top(src='assets/images/pages/materiales/sacabocados.jpg', alt='...')
                .card-body
                    h3.card-title Sacabocados o fistos	
                    p.card-text Instrumento de hierro con boca hueca y cortes afilados, que sirve para taladrar. Los hay en diferentes  figuras: trébol, hojas, círculos, corazón, etc.

    .header
        .card-deck.card-border-bottom
            .card
                img.card-img-top(src='assets/images/pages/materiales/matacantos.jpg', alt='...')
                .card-body
                    h3.card-title Matacantos 
                    p.card-text Es una herramienta de corte que permite dar un mejor acabado. Se utiliza para cortar en bisel los bordes de las piezas de cuero.
                    
            .card
                img.card-img-top(src='assets/images/pages/materiales/repujadores.jpg', alt='...')
                .card-body
                    h3.card-title Repujadores o mateadores
                    p.card-text Herramientas para realizar grabados en bajo relieve en cuero curtido al vegetal. Se usa para decorar.
            .card
                img.card-img-top(src='assets/images/pages/materiales/Polipropileno-copolimero.jpg', alt='...')
                .card-body
                    h3.card-title Fibra	
                    p.card-text Fibra de polipropileno, usada para perforar con los sacabocados. El empleo de esta no deja dañar el corte de los mismos.
                        





    #Maquinaria
    .header-ecored
        h1 2.2 Maquinaria
        br
        |A continuación, se menciona parte de la maquinaria a emplear para el desarrollo de los modelos y dependiendo del tipo de producto se necesitarán algunas de ellas, pero dentro del programa de formación se estudiarán aquellas consideradas como necesarias para confeccionar modelos básicos.

        br
.py-5(style="background-color:#F0EDE6")
    .container
        .row.text-center.text-lg-left
            .col-lg-3.col-md-6
                a.d-block.mb-4.h-100(href='assets/images/pages/maquinas/maquina_plana.jpg', data-fancybox='gallery',data-caption='1. Máquina plana<br><br>Para el trabajo en marroquinería es importante trabajar con máquinas de tipo industrial, dado que permiten realizar costuras rectas. Dentro de este tipo de máquinas encontramos de simple y doble arrastre.', data-imagen='assets/images/pages/maquinas/maquina_plana.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/pages/maquinas/maquina_plana.jpg', alt='')
                    p.text-center-m Máquina Plana               
            .col-lg-3.col-md-6
                a.d-block.mb-4.h-100(href='assets/images/pages/maquinas/maquina_poste.jpg', data-fancybox='gallery', data-caption='2. Máquina De Poste<br><br>Diseñada para el trabajo en calzado y marroquinería, útil para coser piezas pequeñas y apliques.', data-imagen='assets/images/pages/maquinas/maquina_poste.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/pages/maquinas/maquina_poste.jpg', alt='')
                    p.text-center-m Máquina De Poste  
            .col-lg-3.col-md-6
                a.d-block.mb-4.h-100(href='assets/images/pages/maquinas/maquina_ribeteadora.jpg', data-fancybox='gallery', data-caption='3. Ribeteadora<br><br>Útil para pegar ribetes internos y externos, para realizar costuras perdidas y dar terminación al producto.', data-imagen='assets/images/pages/maquinas/maquina_ribeteadora.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/pages/maquinas/maquina_ribeteadora.jpg', alt='')
                    p.text-center-m Ribeteadora 
            .col-lg-3.col-md-6
                a.d-block.mb-4.h-100(href='assets/images/pages/maquinas/fileteadora.jpg', data-fancybox='gallery', data-caption='4. Fileteadora<br><br>Se utiliza especialmente para el trabajo con textiles, dando buen acabado a los artículos; porque cuando se trabaja con driles, satines, entre otros, estos se deshilan fácilmente.', data-imagen='assets/images/pages/maquinas/fileteadora.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/pages/maquinas/fileteadora.jpg', alt='')    
                    p.text-center-m Fileteadora 
        .row.text-center.text-lg-left
            .col-lg-3.col-md-6
                a.d-block.mb-4.h-100(href='assets/images/pages/maquinas/troqueladora.jpg', data-fancybox='gallery', data-caption='5. Troqueladora<br><br>Es la herramienta que presenta las formas para realizar los cortes de las diferentes piezas.', data-imagen='assets/images/pages/maquinas/troqueladora.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/pages/maquinas/troqueladora.jpg', alt='')
                    p.text-center-m Troqueladora 
            .col-lg-3.col-md-6
                a.d-block.mb-4.h-100(href='assets/images/pages/maquinas/repujadora.jpg', data-fancybox='gallery', data-caption='6. Repujadora<br><br>Útil para estampar diferentes diseños en las distintas piezas de cuero, con ayuda de presión y al calor.', data-imagen='assets/images/pages/maquinas/repujadora.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/pages/maquinas/repujadora.jpg', alt='')
                    p.text-center-m Repujadora 
            .col-lg-3.col-md-6
                a.d-block.mb-4.h-100(href='assets/images/pages/maquinas/cortador.jpg', data-fancybox='gallery', data-caption='7. Cortadora Manual<br><br>Herramienta manual, utilizada para realizar cortes rectos, especialmente en la elaboración de correas', data-imagen='assets/images/pages/maquinas/cortador.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/pages/maquinas/cortador.jpg', alt='')
                    p.text-center-m Cortadora manual 
            .col-lg-3.col-md-6
                a.d-block.mb-4.h-100(href='assets/images/pages/maquinas/debastadora.jpg', data-fancybox='gallery', data-caption= '8. Desbastadora<br><br>Útil para elaborar productos en cuero, es importante adelgazar o rebajar el perímetro de las  piezas de cuero (rebajar el calibre o grosor de diferentes zonas del material) con el fin de doblarlas, montar pieza sobre pieza, realizar costuras perdidas, entre otros. De esta manera, obtener un producto con un buen acabado.', data-imagen='assets/images/pages/maquinas/debastadora.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/pages/maquinas/debastadora.jpg', alt='')
                    p.text-center-m Desbastadora              