include ../mixins/functions

+pageHeader('Confección de artículos de marroquinería', 'assets/images/header/header_media.svg')

.container
    .header-ecored-m
        h1 3. Identificar las herramientas y su intervención en el desarrollo de los modelos y prototipos  

    .row.align-items-center.justify-content-center.my-5

        .col-12.col-md-8.col-sm-12

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row
                p La higiene y seguridad industrial es el área que toda organización debe tener para identificar y prevenir los posibles riesgos de accidentes y enfermedades que puedan causarse dentro del desarrollo de las actividades propias de su trabajo.
                .d-none.d-lg-block           
                    img(src="assets/images/pages/ilustraciones/MF4-AUD-IMA-11.svg" style="height: 180px;").mb-5

        .card__border-bottom.pt-1(style="background-color: #FFFFFF")
            .card-body
                p En el sector marroquinero específicamente, los operarios están expuestos a permanentes riesgos debido a la diversidad, tanto de materiales e insumos como de máquinas, equipos y herramientas que se utilizan para la manufactura de los productos. Entre las operaciones básicas que se precisan en la terminación del producto están: 

.container

    .row.align-items-center.justify-content-center.my-5

        .col-12.col-md-12               

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row

                img(src="assets/images/icons/a.svg").custom-item-img-m

                .custom-item-info.my-2
                    .card(style="background-color: #DDDDDD").mb-0
                        .card-body
                            p(style="color: #745F57") Mantener orden y limpieza en el puesto de trabajo.        
            

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row

                img(src="assets/images/icons/b.svg").custom-item-img-m

                .custom-item-info.my-2
                    .card(style="background-color: #DDDDDD").mb-0
                        .card-body
                            p(style="color: #745F57") Tener una adecuada Iluminación natural o artificial en función de la tarea. 

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row

                img(src="assets/images/icons/c.svg").custom-item-img-m

                .custom-item-info.my-2
                    .card(style="background-color: #DDDDDD").mb-0
                        .card-body
                            p(style="color: #745F57") Las herramientas que poseen  mango no deben presentar fisuras en éste.       
            

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row

                img(src="assets/images/icons/d.svg").custom-item-img-m

                .custom-item-info.my-2
                    .card(style="background-color: #DDDDDD").mb-0
                        .card-body
                            p(style="color: #745F57") Herramientas de corte deben tener su funda de protección y ubicarse en el lugar dispuesto para el almacenado de las mismas. 

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row

                img(src="assets/images/icons/e.svg").custom-item-img-m

                .custom-item-info.my-2
                    .card(style="background-color: #DDDDDD").mb-0
                        .card-body
                            p(style="color: #745F57") Tener una mesa adecuada según operación a realizar y características antropométricas del usuario.           
            

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row

                img(src="assets/images/icons/f.svg").custom-item-img-m

                .custom-item-info.my-2
                    .card(style="background-color: #DDDDDD").mb-0
                        .card-body
                            p(style="color: #745F57") Verificar en las máquinas que todos los componentes  estén correctamente ubicados antes de ponerlas en marcha y revisar especialmente los dispositivos de protección y seguridad de las mismas.    

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row

                img(src="assets/images/icons/g.svg").custom-item-img-m

                .custom-item-info.my-2
                    .card(style="background-color: #DDDDDD").mb-0
                        .card-body
                            p(style="color: #745F57") No manipular máquinas cuando están funcionando.        
            

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row

                img(src="assets/images/icons/h.svg").custom-item-img-m

                .custom-item-info.my-2
                    .card(style="background-color: #DDDDDD").mb-0
                        .card-body
                            p(style="color: #745F57") Utilizar los elementos previstos según equipo para  para introducir piezas dentro de las máquinas o eliminar residuos.

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row

                img(src="assets/images/icons/i.svg").custom-item-img-m

                .custom-item-info.my-2
                    .card(style="background-color: #DDDDDD").mb-0
                        .card-body
                            p(style="color: #745F57") Desconectar la máquina al organizarla o limpiarla.           
            

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row

                img(src="assets/images/icons/j.svg").custom-item-img-m

                .custom-item-info.my-2
                    .card(style="background-color: #DDDDDD").mb-0
                        .card-body
                            p(style="color: #745F57") Realizar o solicitar el mantenimiento a las máquinas y herramientas de trabajo. 

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row

                img(src="assets/images/icons/k.svg").custom-item-img-m

                .custom-item-info.my-2
                    .card(style="background-color: #DDDDDD").mb-0
                        .card-body
                            p(style="color: #745F57") Revisar hojas de seguridad antes de manipular tintas, adhesivos, disolvente, etc. Procure una adecuada ventilación.          
            

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row

                img(src="assets/images/icons/l.svg").custom-item-img-m

                .custom-item-info.my-2
                    .card(style="background-color: #DDDDDD").mb-0
                        .card-body
                            p(style="color: #745F57") Cerrar y ubicar en el estante adecuado los adhesivos, tintes, etc.,  después de utilizarlos.    

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row

                img(src="assets/images/icons/m.svg").custom-item-img-m

                .custom-item-info.my-2
                    .card(style="background-color: #DDDDDD").mb-0
                        .card-body
                            p(style="color: #745F57") Guardar materiales, insumos y herramientas en los estantes o armarios adecuados.   

.py-5(style="background-color:#E6E5E7")
    h1.text-center-m.mb-0 Elementos de seguridad 

.container    
    .card__border-bottom.mt-5(style="background-color: #FFFFFF")
        .card-body
            p Son aquellos elementos de protección personal que se utilizan para realizar una labor de manera segura. En marroquinería, dependiendo la operación a realizar, se manejan los siguientes elementos: 

    .container
    .row.align-items-center.justify-content-center.mt-5

        .col-12.col-md-3 
            .card-body-m(style="background-color:#F3F7FA").bg-brand-color-light
                .card-body.text-center
                    img(src="assets/images/pages/ilustraciones/MF4-AUD-IMA-07.svg") 
                    p(style="color:#745F57").mt-2 TAPABOCAS N95 
        .col-12.col-md-3                              
            .card-body-m(style="background-color:#F3F7FA").bg-brand-color-light
                .card-body.text-center
                    img(src="assets/images/pages/ilustraciones/MF4-AUD-IMA-08.svg")
                    p(style="color:#745F57").mt-2 CONFIA
        .col-12.col-md-3                     
            .card-body-m(style="background-color:#F3F7FA")-brand-color-light
                .card-body.text-center                      
                    img(src="assets/images/pages/ilustraciones/MF4-AUD-IMA-09.svg")
                    p(style="color:#745F57").mt-2 OBEROL O BATA
        .col-12.col-md-3                     
            .card-body-m(style="background-color:#F3F7FA").bg-brand-color-light
                .card-body.text-center                    
                    img(src="assets/images/pages/ilustraciones/MF4-AUD-IMA-10.svg")
                    p(style="color:#745F57").mt-2 BRILLO MONOGAFAS   
        .col-12.col-md-3                     
            .card-body-m(style="background-color:#F3F7FA").bg-brand-color-light
                .card-body.text-center                      
                    img(src="assets/images/pages/ilustraciones/MF4-AUD-IMA-09.svg")
                    p(style="color:#745F57").mt-2 GUANTES DE CIRUGIA
        .col-12.col-md-3                     
            .card-body-m(style="background-color:#F3F7FA").bg-brand-color-light
                .card-body.text-center                    
                    img(src="assets/images/pages/ilustraciones/MF4-AUD-IMA-10.svg")
                    p(style="color:#745F57").mt-2 BOTAS SEGURIDAD  

    .card__border-bottom.mt-5(style="background-color: #FFFFFF")
        .card-body
            p Nota: es necesario tener presente las prácticas seguras indicadas anteriormente y recordar que cada artesano u operario es el agente principal dentro del área de trabajo y debe evitar los posibles incidentes y accidentes.
            br
            |No se deben olvidar las recomendaciones asociadas a las posturas adecuadas en el puesto de trabajo y no utilizar accesorios como pulseras, anillos o elementos que puedan afectarlo, evitar el cabello suelto (cabello recogido siempre) y utilizar los elementos de seguridad adecuados según la operación a realizar.     