include ../mixins/functions

+pageHeader('Confección de artículos de marroquinería', 'assets/images/header/header_media.svg')

.container
    .header-ecored-m
        h1 3. Identificar las herramientas y su intervención en el desarrollo de los modelos y prototipos  

    .row.align-items-center.justify-content-center.my-5

        .col-12.col-md-8.col-sm-12

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row
                .custom-item-info.my-2
                    .card.mb-0
                        .card-body
                            p Después de tener claro qué producto se va a desarrollar,  es importante analizar cómo se confecciona y qué materiales, herramientas y máquinas intervienen en la manufactura.
                .d-none.d-lg-block           
                    img(src="assets/images/pages/ilustraciones/MF2-AUD-IMA-10.svg").img-fluid

            br    

.row.align-items-center.justify-content-center.my-5           
    img(src="assets/images/pages/ilustraciones/MF2-AUD-IMA-11.svg").mt-5.img-fluid


.container
    .row.align-items-center.justify-content-center.my-5

        .col-12.col-md-12

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row
                .d-none.d-lg-block
                    img(src="assets/images/icons/indicador.svg").avatar-big-img.mr-5.

                .custom-item-info.card-border-bottom.my-5
                    .card(style="border-color: #E3DAC6").mb-0
                        .card-body
                            h2 De igual manera, es de anotar que unas instalaciones físicas adecuadas así como la mano de obra y la materia prima
                            br
                            | Son fundamentales no solo para obtener productos de calidad sino también para ser competitivos dentro del mercado.
                br            

    .row.align-items-center.justify-content-center.my-5

        .col-12.col-md-12

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row
                .custom-item-info.card-border-bottom.mr-5
                    .card(style="border-color: #E3DAC6").mb-0
                        .card-body
                            h2 Es muy importante analizar previamente todos los elementos asociados al producto a confeccionar  y los patrones correspondientes
                            p A fin de seleccionar lo necesario para comenzar con el desarrollo del producto. Para ello, se sugiere:
                
                    br                  

                    article.custom-item.d-flex.align-items-center.flex-column.flex-md-row

                        img(src="assets/images/icons/icon_a.svg").custom-item-img-m

                        .custom-item-info.my-2
                            .card(style="background-color: #F3F7FA").mb-0
                                .card-body
                                    |Determinar el producto según su forma o la tipología a la que pertenece y sus dimensiones.            
                    

                    article.custom-item.d-flex.align-items-center.flex-column.flex-md-row

                        img(src="assets/images/icons/icon_b.svg").custom-item-img-m

                        .custom-item-info.my-2
                            .card(style="background-color: #F3F7FA").mb-0
                                .card-body
                                    |Verificar los servicios y detalles del artículo: identificar cantidad de bolsillos y materiales de los mismos, tener en cuenta las características de los herrajes o apliques que llevará el producto, características de las asas o cargaderas (forma y tamaño, material, etc.).
                .d-none.d-md-block
                    img(src="assets/images/pages/ilustraciones/MF2-AUD-IMA-12.svg").my-5

            br   

.py-5(style="background-color:#977C72")
    .row.align-items-center.justify-content-center

        .col-12.col-md-10
            .container
                article.custom-card-m.d-flex.align-items-center.flex-column.flex-md-row

                    .custom-car-m-link.align-items-center.my-9
                        |Con este análisis, se determinan las herramientas y maquinaría necesarias para la confección del producto y si se realizan operaciones manuales o industriales para la selección de los mismos. Se recomienda diligenciar la siguiente tabla, una vez se realice el análisis previo del producto a confeccionar, ya que  permite asegurar la inclusión de todas las máquinas y herramientas necesarias dependiendo  del desarrollo del producto:

                    section.custom-link

                        a(href="media/ejemplos/documento.pdf" target="_blank").media-link      
                
                            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                            .media-link-title
                                p DESCARGAR TABLA
                                    

                    