include ../mixins/functions

+pageHeader('Confección de artículos de marroquinería', 'assets/images/header/header_media.svg')

.container
    .header-ecored-m
        h1 4. Información gráfica y muestra física

    .row.align-items-center.justify-content-center.my-5

        .col-12.col-md-8.col-sm-12

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row
                p Es aquella información que se realiza de cada uno de los modelos que  forman la colección.
                .d-none.d-lg-block           
                    img(src="assets/images/pages/ilustraciones/MF4-AUD-IMA-18.svg" style="height: 180px;").mb-5

        .card__border-bottom.align-items-center.pt-1(style="background-color: #FFFFFF")
            .card-body
                p Se realizan las fichas técnicas de los productos con el fin de estudiar la factibilidad para la fabricación de los mismos. Dentro de las fichas, es importante brindar información clara y precisa acerca de las cualidades y características del artículo. Ver tabla 

                    .card-body-m.align-items-center.my-5
                        a(href="media/ejemplos/documento.pdf" target="_blank").media-link      
            
                            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                            .media-link-title
                                p #[strong Ficha Técnica]
                p #[strong Nota:] recuerde resaltar las características más importantes del producto de manera que sea atractivo y cautivador tanto para el director comercial como para el consumidor final.

.py-5(style="background-color:#E6E5E7")
    h1.text-center-m.mb-0 MUESTRA FISICA 

.container
    .card__border-bottom.align-items-center.mt-5(style="background-color: #FFFFFF")
        .card-body
            p Es la muestra a escala real del producto, la cual permite estudiar la manufactura del artículo haciendo un análisis y verificación del cumplimiento de sus requerimientos de diseño y requerimientos del cliente o consumidor final, para ver si se necesita realizar correcciones oportunas antes de definir las cantidades a producir para ofertar.
    .card-body-m.align-items-center(style="Background-color:#F3F7FA").my-6
        img(src="assets/images/pages/ilustraciones/MF4-AUD-IMA-19.png").img-fluid.my-5