footer#creditos
  
    .container
        .row
            .col-12.col-md-5
            
                h3.footer-subtitulo Contenido Instruccional

                p.footer-texto
                    | #[strong Elizabeth Mena Rengifo ]<br/>   
                    | #[strong Lina Marcela Cardona Orozco ]<br/>
                    | #[strong Érika Alejandra Beltrán Cuesta ]<br/> 
                    | #[strong Julieth Paola Vital López ]<br/> 
                    | #[strong Rafael Neftali Lizcano Reyes ]<br/>                     
                    span.text-small Diseño instruccional<br/>


                p.footer-texto
                    | #[strong Gloria Lee ]<br/>   
                    span.text-small Responsable del equipo<br/>

                        
            .col-12.col-md-5
            
                h3.footer-subtitulo Diseño y desarrollo de recursos educativos digitales

                p.footer-texto
                    | #[strong Lady Adriana Ariza Luque ]<br/>   
                    | #[strong Daniel Ricardo Mutis Gomez ]<br/>                  
                    | #[strong Eulises Orduz Amezquita ]<br/>                       
                    | #[strong Nelson Iván Vera Briceño]<br/>
                    | #[strong José Jaime Luis Tang Pinzón]<br/>
                    | #[strong Carlos Julian Ramirez Benitez]<br/>
                    | #[strong Leyson Fabian Castaño Perez]<br/>
                    | #[strong Luis Gabriel Urueta Alvarez]<br/> 
                    | #[strong Edward Leonardo Pico Cabra]<br/> 
                    span.text-small Diseño Web & Producción Audiovisual<br/>

                p.footer-texto
                    | #[strong Francisco J. Lizcano Reyes ]<br/>   
                    span.text-small Responsable del equipo<br/>

                p.footer-texto
                    span.text-small.text-uppercase CENTRO INDUSTRIAL DEL DISEÑO Y LA MANUFACTURA   
                    br
                    span.text-small Floridablanca, Santander                   

            .col-12.col-md-2  
                .d-flex.flex-column.justify-content-center
                    img(src= ruta)

section#cc
    .container
        .d-flex.flex-column.flex-sm-row
            span.pr-3
                i.icon.cc
        
            span
                | Este material puede ser distribuido, copiado y exhibido por terceros si se muestra en los créditos. No se puede obtener ningún beneficio comercial y las obras derivadas tienen que estar bajo los mismos términos de la licencia que
                | el trabajo original.